latex-resume/**/*.aux
latex-resume/**/*.fdb_latexmk
latex-resume/**/*.fls
latex-resume/**/*.log
latex-resume/**/*.out
latex-resume/**/*.pdf
latex-resume/**/*.synctex.gz
latex-resume/**/*.toc
latex-resume/output/*
!latex-resume/output/.gitkeep
latex-resume/archive/*
!latex-resume/archive/.gitkeep
resumes/**/*.aux
resumes/**/*.fdb_latexmk
resumes/**/*.fls
resumes/**/*.log
resumes/**/*.out
resumes/**/*.pdf
resumes/**/*.synctex.gz
resumes/**/*.toc
